<!DOCTYPE html>
<html>

<!-- Head tag -->

<%- partial('_partial/head') %>

<body>
	<!-- header -->
	<%- partial('_partial/header') %>

	<!-- Main content -->
	<%- body %>

	<!-- footer -->
	<%- partial('_partial/footer') %>
	
	<!-- js -->
	<script type="text/javascript" src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<%- js('js/toggle') %>
</body>
</html>