<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<%- partial('_partial/head') %>
<body id="index" class="lightnav animsition">

      <%- partial('_partial/header') %>
      <%- body %>
      <%- partial('_partial/footer') %>
      <%- partial('_partial/after_all') %>

</body>
</html>