<header class="header">
    <section class="banner">
        <div class="banner-image">
            <img src="<%- url_for(theme.banner) %>" alt="banner">
        </div>
        <img class="avatar" src="<%- url_for(theme.avatar) %>" alt="avatar" >
    </section>

    <nav class="nav">
    <%for (var i in theme.menu){ %>
    	<a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
    </nav>
    <button class="menu-toggle">
        <div class="nav-bar">
             <%for (var i in theme.menu){ %>
                <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
            <% } %>
        </div>
    </button>
    
</header>